<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="../../dist/mini-vue.js"></script>
 
  
  <div id="app">
     Counter
    <div>{{counter.value}}</div>
    <button @click="add">+</button>

    <ul>
      <li v-for="item in items" :key="item.name">{{item.name}}</li>
    </ul>

    <div v-if="ok.value">ok</div>
    <div v-else>!ok</div>

    <button @click="toggle">ok toggle</button>

  </div>

  <!-- <script type="text/template" id="template">
    Counter
    <div>{{counter.value}}</div>
    <button @click="add">"click"</button>
  </script> -->

  <script>
    const {createApp,ref,reactive} = MiniVue

    createApp({
      // template: `#template`,
      setup(){
        const items = reactive([
          {
            name:'foo'
          },
          {
            name:'bar'
          }
        ])
        const  counter = ref(0)
        const add = ()=>  counter.value++

        const ok = ref(true)
        const toggle = ()=> ok.value = !ok.value

        return {
          items,
          counter,
          add,
          ok,
          toggle
        }
      },
    }).mount('#app')

  </script>

</body>
</html>